@media screen and (max-width: 576px) {
    .nav-container{
       flex-direction: column;
    }
    .header{
        max-width: 335px;
    }
    .nav-items{
        flex-direction: column;
        gap: 10px;
    }
    .banner-container .banner-title{
        font-size: 1.3rem;

    }
    ..banner-container{
        border: 1px solil black;
    }
    .tour-container{
        gap: 5px;
        flex-direction: column;
        padding: 20px;
    }
    .destination-image img{
        flex-basis: 400px;
        width: 80%;
    }
    .destination-container{
        max-width: 576px;
        flex-direction: column;
    }
    .card-box{
        padding: 10px;
    }
    .news-letter-container{
        flex-direction: column;
    }
    .travel-com{
        position: relative;
        left: 168px;
    }
    .img-section img{
        width: 430px;
        margin: 0 auto;
    }
    .news-letter-container{
        padding: 10px;
    }
    
}